<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
    <!-- jQuery 로드 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>
    .layout{
        width : 500px;
        margin: 0 auto;
        margin-top: 50px;
    }
</style>
<body>
<!-- 작성 완료 메시지 확인 및 알림 출력 스크립트 -->
<script>
    $(document).ready(function() {
        var writeComplete = /*[[${param.writeComplete}]]*/ false;

        if (writeComplete) {
            alert("게시글 작성이 완료되었습니다.");
        }
    });
</script>
    <div class="layout">
        <button onclick="location.href='/board/write'">게시글 작성</button>
        <table>
            <thead>
            <tr>
                <th>글번호</th>
                <th>제목</th>
                <th>등록시간</th>
                <th>수정시간</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${list}">
                <td th:text="${board.id}">1</td>
                <td>
                    <a th:href="@{/board/view(id=${board.id})}" th:text="${board.title}"></a>
                </td>
                <td th:text="${board.regDt}"></td>
                <td th:text="${board.modDt}">수정시간</td>
            </tr>
            </tbody>
        </table>
    </div>


</body>
</html>